<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<!-- <div>
    <label> Enter aid : </label>
    <input type="text" [(ngModel)]="iaid" >
</div>
Enter aid : <input type="text" [(ngModel)]="iaid" ><br>
Enter Movie name : <input type="text" [(ngModel)]="iname" ><br>
Enter language : <input type="text" [(ngModel)]="ilang" ><br>
Enter rating : <input type="text" [(ngModel)]="irating" ><br>
Enter type : <input type="text" [(ngModel)]="itype" ><br>
Enter Lead Actor : <input type="text" [(ngModel)]="iactor1" ><br>
Enter Actor 2 : <input type="text" [(ngModel)]="iactor2" ><br> 


<button type="submit"  class="btn btn-secondary btn-lg" (click)="insertData()" >Enter Data</button> -->


<div>
<table align="center" style="margin: 0px auto;">
    <tr>
        <td>Enter Admin ID</td>
        <td><input type="text" [(ngModel)]="iaid" ></td>
    </tr>

    <tr>
        <td>Enter Movie name</td>
        <td><input type="text" [(ngModel)]="iname" ></td>
    </tr>

    <tr>
        <td>Enter language</td>
        <td><input type="text" [(ngModel)]="ilang" ></td>
    </tr>

    <tr>
        <td>Enter Rating</td>
        <td><input type="text" [(ngModel)]="irating" ></td>
    </tr>

    <tr>
        <td>Enter Movie type</td>
        <td><input type="text" [(ngModel)]="itype" ></td>
    </tr>

    <tr>
        <td>Enter Lead Actor</td>
        <td><input type="text" [(ngModel)]="iactor1" ></td>
    </tr>

    <tr>
        <td>Enter Actress</td>
        <td><input type="text" [(ngModel)]="iactor2" ></td>
    </tr>
</table>
</div>
<br>
<div class="center">
    <button type="submit"  class="btn btn-secondary btn-lg" (click)="insertData()" >Enter Data</button>
</div>


<!-- 
<form>
    <div>
      <label >Enter Admin ID</label>
      <input type="text" class="form-control"  [(ngModel)]="iaid" >
    </div>

    <div class="form-group">
        <label >Enter Movie name</label>
        <input type="text"  [(ngModel)]="iname" >
      </div>

      <div class="form-group">
        <label >Enter language</label>
        <input type="text" class="form-control" [(ngModel)]="ilang" >
      </div>

      <div class="form-group">
        <label >Enter rating</label>
        <input type="text" class="form-control" [(ngModel)]="irating" >
      </div>

      <div class="form-group">
        <label >Enter type</label>
        <input type="text" class="form-control" [(ngModel)]="itype" >
      </div>

      <div class="form-group">
        <label >Enter Lead Actor</label>
        <input type="text" class="form-control" [(ngModel)]="iactor1" >
      </div>

      <div class="form-group">
        <label >Enter Actor 2</label>
        <input type="text" class="form-control" [(ngModel)]="iactor2" >
      </div>
    
  </form>
  <br>
  <div class="center">
  <button type="submit"  class="btn btn-secondary btn-lg" (click)="insertData()" >Enter Data</button>
</div> -->